<div class='row'>
  <div class='col-md-4 col-md-offset-4'>
    <div class="page-header">
      <h1>新規会員登録</h1>
    </div>
    <div class="form-body">
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.radio_button :is_designer, false %>
          <%= f.label :viewerモード %>
          <%= f.radio_button :is_designer, true %>
          <%= f.label :designerモード %><br>
        </div>
        <div class = "mode">
          <p>【 viewerモード 】</p>
          <div class = "mode-text">
          　<p>主に閲覧専用でお使いになりたい方向けのモードです。<br>
            <span>デザイナー一覧画面に<br>
            あなたの登録情報が表示されません。</span></p>
          </div>
          <p>【 designerモード 】</p>
          <div class = "mode-text">
          　<p>商品の閲覧に加え、ご自身のプロフィールを公開したい方向けのモードです。<br>
            <span>デザイナー一覧画面に<br>
            あなたの登録情報が表示されます。</span></p>
          </div>
          <div class = "mode-explanation">
            <p>※ モードの変更はマイページからいつでも行っていただけます。</p>
            <p>※ユーザモードにかかわらず商品の投稿が可能です。</p>
            <p>※商品を投稿した際は、商品を非公開にしない限りユーザモードに関係なく商品が公開されます。</p>
          </div>
        </div>
        <div class="field">
          <%=f.label :名前%>
          <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName"%>
        <div>
          <%=f.label :メールアドレス%>
          <%= f.email_field :email, class:"form-control", id:"inputEmail"%>
        </div>
        <div class="field">
          <%= f.label :パスワード%>
          <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword" %>
        </div>
        <div class="field">
          <%= f.label :パスワード（確認用）%>
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword"%>
        </div>
        <div class="col-xs-12">
          <div class="text-right actions">
              <%= f.submit "新規登録",class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>