<div class="container">
  <div class="row">
    <h1 class="under-border">検索結果一覧</h1>
    <div class="col-md-9">
      <% if @datas.empty?%>
        <p>検索結果 : 0件</p>
        <%= "「#{@content}」 に当てはまる#{@model}は存在しないか非表示モードとなっています"%> 
      <% else %>
      <div class="index-box">
  　    <% if @model == 'product' %>
          <% @datas.each do |product| %>
            <div class = "index-inline-box">
              <%= link_to product_path(product.id) do %>
                <%= attachment_image_tag product, :image, :limit, 100,100, format: 'jpeg', fallback: 'no_image.jpg',size: "200x200" %><br>
                <%= product.name %>
                <%= product.price %>円
              <% end %>
            </div>
          <% end %>
        <% else %>
          <% @datas.each do |user| %>
            <div class = "index-inline-box">
              <%= link_to user_path(user) do %>
                <%= attachment_image_tag user, :image, :limit, 100,100, format: 'jpeg', fallback: 'no_image.jpg',size: "200x200" %><br>
                <%= user.name %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
