<h1>登録情報編集</h1>
※ユーザモードの切り替えについては、以下⇩のリンクから行ってください
<% link_to 'ユーザモード切り替えページへ', user_mode_select_path%>

<%= form_with(model: current_user, url:users_path(current_user),local:true) do |f|%>
<!--あとでエラー追記-->
  <table class = "table">
    <tr>
      <th>氏名</th>
      <td><%= f.text_field :name, class: "form-control" %></td>
    </tr>
    <tr>
      <th>ニックネーム</th>
      <td><%= f.text_field :nickname, class: "form-control" %></td>
    </tr>
    <tr>
      <th>紹介文</th>
      <td><%= f.text_area :introduction, class: "form-control"%></td>
    </tr>
    <tr>
      <th>HP(url)</th>
      <td><%= f.text_field :homepage, class: "form-control" %></td>
    </tr>
     <tr>
      <th>imstagram(url)</th>
      <td><%= f.text_field :imstagram, class: "form-control" %></td>
    </tr>
  </table>
  <%= f.submit '編集内容を保存する' ,class:"btn btn-primary"%>
<% end %>


