<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <div class="page-header">
      <h1>登録情報編集</h1>
    </div>
    <%= form_with model:@user, url:user_path(@user), method: :patch, local:true do |f| %>
    <%= render "layouts/error_message", model: f.object %>
      <div class="field">
        <%= f.label :イメージ画像 %>
        <%= attachment_image_tag current_user, :image, fallback: 'no_image.jpg', onChange: "$('.img_field').()", class: 'center-block img_prev',:size =>'400x400'%>
        <%= f.attachment_field :image, class: 'img_field' %>
      </div>
      <div class = "field row">
        <%= f.label :名前 %>
        <%= f.text_field :name, class: 'col-xs-12'%>
      </div>
      <div class = "field row">
        <%= f.label :活動名・ブランド名%>
        <%= f.text_field :nickname, class: 'col-xs-12' %>
      <div class = "field row">
        <%= f.label :紹介文%>
        <%= f.text_area :introduction, class: 'col-xs-12'%>
      </div>
      <div class = "field row">
        <%= f.label :ホームページ%>
        <%= f.text_field :homepage, class: 'col-xs-12'%>
      </div>
      <div class = "field row">
        <%= f.label :インスタグラム%>
        <%= f.text_field :instagram, class: 'col-xs-12'%>
      </div>
      <p> ※ URLは商品、及びプロフィール画面にリンクとして表示されます。
      お間違いの無いようご注意ください</p>
      <div class="actions row">
        <%= f.submit '編集内容を保存する' ,class:"btn btn-primary col-xs-12"%>
      </div>
    <% end %>
    <div class = "actions row">
      <p>※ユーザモードの切り替えにつきましては以下⇩のリンクからお願いします</p>
      <%= link_to 'ユーザモード切り替えページへ', user_mode_select_path,class:"btn btn-primary col-xs-12"%>
    </div>
  </div>
</div>