<div class="container">
<div class="row">
<div class="col-md-offset-2 col-md-8" >
  <h1 class="under-border">
  <% if params[:user_id] %>
    <%= @user.name %>ページ
  <% else %>
    デザイナー一覧
  <% end %>
  </h1>
      <div class="index-box">
        <% @users.each do |user| %>
        <div class = "index-inline-box">
          <%= link_to user_path(user) do %>
            <%= attachment_image_tag user, :image, :limit, 100,100, format: 'jpeg', fallback: 'no_image.jpg',size: "200x200" %><br>
            <%= user.name %>
          <% end %>
        </div>
        <% end %>
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>