<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <table class="table">
      <tr>
        <th><%= attachment_image_tag @user, :image, :limit, 300, 300, fallback: "no_image.jpg",size: "320x320" %></th>
        </tr>
      </table>
    </div>

    <div class="col-md-4 col-md-offset-1">
      <table class="table">
        <tr>
          <th>作家名 : <%= @user.name %></th>
        </tr>
        <tr>
          <%if @user.introduction.present?%>
            <th><%= @user.introduction %></th>
          <% else %>
            <th>！紹介文は未登録です</th>
          <% end %>
        </tr>
        <%if @user.homepage.present?%>
          <tr>
            <th>HP : <%= link_to"#{@user.homepage}" %></th>
          <tr>
          <% end %>
          <% if @user.instagram.present? %>
          <tr>
            <th>instagram  <i class="fab fa-instagram"></i> : <%= link_to"#{@user.instagram}" %></th>
          </tr>
          <% end %>
          <%if !(@user.homepage.present? || @user.instagram.present?)%>
          <tr>
            <th>！リンクは未登録です</th>
          </tr>
          <% end %>
        </tr>
      </table>
    </div>
    
    <div class="col-md-offset-2 col-md-8">
      <h1 class="under-border">このユーザの商品一覧</h1>
      <%if @products.empty? %>
        <p>ear!に登録済の商品はありません</p>
      <% else %>
        <div class="index-box">
          <% @products.each do |product| %>
            <div class = "index-inline-box">
              <%= link_to product_path(product.id) do %>
                <%= attachment_image_tag product, :image, :limit, 100,100, format: 'jpeg', fallback: 'no_image.jpg',size: "200x200" %><br>
                <%= product.name %><br>
                <%= product.price %>円
              <% end %>
            </div>
          <%end%>
        </div>
      <% end %>
    </div>
    
  </div>
</div>

