<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <table class="table">
      <tr>
        <th><%= attachment_image_tag @user, :image, :limit, 300, 300, fallback: "no_image.jpg",size: "320x320" %></th>
        </tr>
      </table>
    </div>

    <div class="col-md-4 col-md-offset-1">
      <table class="table">
        <tr>
          <th>作家名 : <%= @user.name %></th>
        </tr>
        <tr>
          <%if current_user.introduction.present?%>
            <td><%= @user.introduction %></td>
          <% else %>
            <td>！紹介文は未登録です</td>
          <% end %>
        </tr>
        <tr>
          <td>
            <%= @user.homepage %>
            <%= @user.instagram %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
  
