<div class="top row">
  <div class='col-md-offset-2 col-md-8'>
   
    <div class="scroll">
      <% @products.each do |product|%>
        <%= link_to product_path(product.id) do %>
          <%= attachment_image_tag product, :image, size: "300x300" %>
        <% end %>
      <% end %>
    </div>

    <% Product.exposed.all_tags.pluck(:name).each do |tag|%>
      <%= link_to tag, products_path(tag_name: tag)%>
    <%end%>
    
    <div class = 'top-link'>
      <div class = 'in'><%= link_to "ear！ について", about_path%></li>
      <li><%= link_to "デザイナー一覧", users_path%></li>
      <li><%= link_to "商品一覧", products_path %></li>
      <li><%= link_to "ピアス一覧", products_path(is_pierce: true)%></li>
      <li><%= link_to "イヤリング一覧", products_path(is_pierce: false)%></li>
      <li><%= link_to "ノンアレルギー商品一覧", products_path(is_allergiefree: true)%></li>
    </div>
    
    
  </div>
</div>



   



