<div class="top row">
  <div class='col-md-offset-2 col-md-8'>
    <div class = 'top-link-box'>
      <div class = 'top-link-item'><%= link_to "designers", users_path%></div>
      <div class = 'top-link-item'><%= link_to "all products", products_path %></div>
      <div class = 'top-link-item'><%= link_to "all pierces", products_path(is_pierce: true)%></div>
      <div class = 'top-link-item'><%= link_to "all earrings", products_path(is_pierce: false)%></div>
      <div class = 'top-link-item'><%= link_to "allergy free", products_path(is_allergiefree: true)%></div>
      <div class = 'top-link-item'><%= link_to "sold one", products_path(is_sold_one: true)%></div>
    </div>
    
    <div class="scroll">
      <% @products.each do |product|%>
        <%= link_to product_path(product.id) do %>
          <%= attachment_image_tag product, :image, size: "250x250" ,:class => "scroll-item"%>
        <% end %>
      <% end %>
    </div>
    
    <div class = 'tag-link'>
      <h3 class = "hashtag">#hash tag#</h3>
      <div class = 'tag-link-items'>
        <% Product.exposed.all_tags.order("RANDOM()").limit(20).pluck(:name).each do |tag|%>
          <%= link_to tag, products_path(tag_name: tag)%>
        <%end%>
      </div>
    </div>
  </div>
  <div class='col-md-offset-1 col-md-10'>
    <div class = "consept">
      <div class = "consept-text">
      <h1>CONSEPT</h1>
        投稿型のイヤリング、ピアス検索サイトです。<br>
        「大規模ショップやブランドでは買えない商品を探したい」<br>
        「アレルギーなどをもとにニーズにあった商品を探したい」<br>
        という方。<br>
        「多くの方に作品を知って欲しい」,<br>
        「もっとたくさんの人にインスタグラムやHPに来てもらいたい」,<br>
        「他のフリーデザイナーの作品を新しく見つけてみたい」<br>
        という思いをもつデザイナーさん。<br>
        一つのサイト内で手軽に比較検討し、本当に自分にあった商品、デザイナーさんとの<br>
        よい出会いの場になればという思いから生まれました。</br>
        </div>
      </div>
    </div>
  </div>
</div>



   



