<div class="top row">
  <div class='col-md-offset-2 col-md-8'>
    <div class = 'top-link-box'>
      <div class = 'top-link-item'><%= link_to "ear！ について", about_path%></div>
      <div class = 'top-link-item'><%= link_to "all デザイナー", users_path%></div>
      <div class = 'top-link-item'><%= link_to "all 商品", products_path %></div>
      <div class = 'top-link-item'><%= link_to "all ピアス", products_path(is_pierce: true)%></div>
      <div class = 'top-link-item'><%= link_to "all イヤリング", products_path(is_pierce: false)%></div>
      <div class = 'top-link-item'><%= link_to "ノンアレルギー", products_path(is_allergiefree: true)%></div>
    </div>
   
    <div class="scroll">
      <% @products.each do |product|%>
        <%= link_to product_path(product.id) do %>
          <%= attachment_image_tag product, :image, size: "300x300" %>
        <% end %>
      <% end %>
    </div>
    <div class = 'tag-links'>
      <% Product.exposed.all_tags.pluck(:name).each do |tag|%>
        <%= link_to tag, products_path(tag_name: tag)%>
      <%end%>
    </div>
    

  </div>
</div>



   



