<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <%= flash[:notice] %>
      <table class="table">
        <tr>
          <th><%= attachment_image_tag @product, :image, :limit, 300, 300, fallback: "no_image.jpg",size: "320x320" %></th>
        </tr>
      </table>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <table class="table">
        <tr>
          <th class = "show-name"><%= @product.name %></th>
        </tr>
        <tr>
          <% if @product.user.is_designer?%>
            <th>作家名 : <%= link_to"#{@product.user.name}",user_path(@product.user) %></th>
          <% else %>
            <th>作家名 : <%=@product.user.name %></th>
          <% end %>
        </tr>
        <tr>
          <th><%= @product.explanation%></th>
        </tr>
        <tr>
          <th>商品価格(税抜): <%= @product.price%>円</th>
        </tr>
        <tr>
          <th>
            <% if @product.is_pierce %>
            カテゴリ : ピアス
            <% else %>
            カテゴリ : イヤリング
            <% end %>
          </th>
        </tr>
        <tr>
          <th>
            <% if @product.is_sold_one %>
            片方のみの販売 : 可
            <% else %>
            片方のみの販売 : 不可
            <% end %>
          </th>
        </tr>
        <% if @product.is_allergiefree %>
          <tr>
            <th>※ 金属アレルギー対応商品</th>
          </tr>
        <% end %>
        <% if @product.user.homepage.present?%>
          <tr>
            <th>HP : <%=link_to "#{@product.user.homepage}"%></th>
          </tr>
        <% end %>
        <% if @product.user.instagram.present?%>
          <tr>
            <th>instagram <i class="fab fa-instagram"></i> : <%=link_to "#{@product.user.instagram}"%></th>
          </tr>
        <% end %>
        <%if @product.user == current_user%>
        <tr>
          <th>
            <% if @product.is_hidden %>
            表示モード : 非表示
            <% else %>
            表示モード : 表示中
            <% end %>
          </th>
        </tr>
        <%end%>
        
        <%if !@product.tag_list.empty? %>
          <tr>
            <th>タグ : <%=render 'layouts/tag_list', tag_list: @product.tag_list%></th>
          </tr>
        <% end %>
        
        <th id="product_<%= @product.id %>">
          <span class="favorite-btn"><%= render "favorites/favorite-btn", product: @product %></soan>
        </th>
        </tr>
      </table>
      <% if @product.user == current_user %>
      <%= link_to "編集する",edit_product_path(@product.id),class: "btn btn-primary" ,data: {"turbolinks" => false}%>
      <%= link_to "削除する",product_path(@product.id) ,method: :delete, "data-confirm" => "本当に削除しますか？（この操作は取り消せません）", class:"btn btn-danger"%>
      <% end %>
    </div>
  </div>
  
    <% if @product.user.products.exposed.count >= 2 %>
      <div class="col-md-offset-2 col-md-8">
        <div class="page-header">
          <h3>このユーザはこんな商品も登録しています</h3>
        </div>
        <div class="index-box">
          <% @products.each do |product|%>
            <div class = "index-inline-box">
              <%= link_to product_path(product.id) do %>
                <%= attachment_image_tag product, :image, :limit, 100,100, format: 'jpeg', fallback: 'no_image.jpg',size: "200x200" %><br>
                <%= product.name %><br>
                <%= product.price %>円<br>
                <%=render 'layouts/tag_list', tag_list: product.tag_list%>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>




