<div class="container">
    <div class="row">
      <%= flash[:notice] %>
      <h3 class="under-border">商品 詳細画面</h3>
      <div class="col-xs-4">
        <%= attachment_image_tag @product, :image, :limit, 300, 300, fallback: "no_image.jpg",size: "300x300" %>
      </div>
      <div class="col-xs-8">
        <div class="form-group row">
          <div class="col-xs-2">
            <label>商品名</label>
          </div>
          <div class="col-xs-6">
            <%= @product.name %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-2">
            <label>商品説明</label>
          </div>
          <div class="col-xs-6">
            <%= @product.explanation %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-2">
            <label>税込価格</label>
          </div>
          <div class="col-xs-6">
            <%= (@product.price * 1.1).floor %>(<%= @product.price %>)円
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-2">
            <label>片方のみの販売</label>
          </div>
          <div class="col-xs-6">
            <% if @product.is_sold_one %>
              可
            <% else %>
              不可
            <% end %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-2">
            <label>表示モード</label>
          </div>
          <div class="col-xs-6">
            <% if @product.is_hidden %>
              非表示
            <% else %>
            　表示中
            <% end %>
          </div>
        </div>
        
        <div id="product_<%= @product.id %>">
          <div class="favorite-btn"><%= render "favorites/favorite-btn", product: @product %></div>
        </div>
      </div>
    </div>
    <div class="text-right">
      <%= link_to "編集する",edit_product_path(@product.id),class: "btn btn-primary" %>
      <%= link_to "マイページへ",user_my_page_path,class: "btn btn-primary" %>
    </div>
</div>



