<!DOCTYPE html>
<html>
  <head>
    <title>Ear</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/120d3f8e53.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="logo"><%= link_to "トップ", root_path%></div>
      <div class="search-form">
      <%= form_tag(search_path, method: :get) do %>
        <%= text_field_tag 'search[content]' %>
        <%= select_tag 'search[model]', options_for_select({ "User" => "user", "Product" => "product" }) %>
        <%= submit_tag '検索', class: "btn btn-primary" %>
      <% end %>
      </div>
      <div class="header-list">
        <nav>
          <ul>
            <li class="header-list-item"><%= link_to "デザイナー一覧", users_path%></li>
            <li class="header-list-item"><%= link_to "商品一覧", products_path %></li>
              <% if user_signed_in? %>
            <li class="header-list-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li class="header-list-item"><%= link_to "新規登録", new_user_registration_path%></li>
            <li class="header-list-item"><%= link_to "マイページ", user_my_page_path%></li>
              <%else%>
            <li class="header-list-item"><%= link_to "ログイン", new_user_session_path %></li>
              <% end %>
          </ul>
        </nav>
      </div>  
    </header>
    <%= yield %>
  </body>
</html>
