<!DOCTYPE html>
<html>
  <head>
    <title>ear!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/120d3f8e53.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>
  <body>
    <header>
      <div class = "row">
        <div class = "header-item col-md-offset-2 col-md-8">
          <div class="logo"><%= link_to "ear!", root_path, class:'logolink', data: {"turbolinks" => false}%></div>
          <div class = "header-link-item">
            <% if user_signed_in? %>
              <div class = "header-link-item-list">
                <%= link_to destroy_user_session_path, method: :delete, :class => "header-link-icon" do%>
                  <i class="fas fa-sign-out-alt"></i> LOG OUT
                <% end %>
              </div>
              <div class = "header-link-item-list">
                <%= link_to user_my_page_path, :class => "header-link-icon" do%>
                  <i class="fas fa-user-circle"></i> MY PAGE
                <% end %>
              </div>
            <% else%>
              <div class = "header-link-item-list">
                <%= link_to new_user_session_path, :class => "header-link-icon" do%>
                  <i class="fas fa-sign-in-alt"></i> LOG IN
                <% end %>
              </div>
              <div class = "header-link-item-list">
                <%= link_to new_user_registration_path, :class => "header-link-icon" do%>
                  <i class="fas fa-user-plus"></i> SIGN IN
                <% end %>
              </div>
            <% end %>
            <div class = "header-link-item-list">
              <%= link_to inquiry_path, :class => "header-link-icon" do%>
                <i class="fas fa-envelope"></i> CONTACT
              <% end %>
            </div>
          </div>
          <div class="search-form">
            <%= form_tag(search_path, method: :get) do %>
              <%= text_field_tag 'search[content]' %>
              <%= select_tag 'search[model]', options_for_select({ "デザイナー" => "user", "商品名" => "product" }) %>
              <%= button_tag '<i class="fa fa-search"></i>'.html_safe, :type => "submit", :class =>"btn btn-default btn-s-md" %>
            <% end %>
          </div>
        </div>
        
        <div id="sp-menu">
          <ul>
            <li><%= link_to "デザイナー一覧", users_path%></li>
            <li><%= link_to "商品一覧", products_path %></li>
            <li><%= link_to "ピアス一覧", products_path(is_pierce: true)%></li>
            <li><%= link_to "イヤリング一覧", products_path(is_pierce: false)%></li>
            <li><%= link_to "ノンアレルギー商品", products_path(is_allergiefree: true)%></li>
            <li><%= link_to "片方のみ販売可能商品", products_path(is_sold_one: true)%></li>
          </ul>
        </div>
        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </div>
    </header>
    <%= yield %>
    <script>
      $(function() {
        $('.menu-trigger').on('click', function(event) {
          $(this).toggleClass('active');
          $('#sp-menu').fadeToggle();
        event.preventDefault();
        });
      });
    </script>
  </body>
</html>
